<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>GiphyCredential</key>
	<string>$(GiphyCredential)</string>
	<key>GoogleAPICredential_clientID</key>
	<string>$(GoogleAPICredential_clientID)</string>
	<key>GoogleAPICredential_serverClientID</key>
	<string>$(GoogleAPICredential_serverClientID)</string>
	<key>Invoice_CheckUrl</key>
	<string>$(Invoice_CheckUrl)</string>
	<key>JOBBOARDBASEURL</key>
	<string>$(JOBBOARDBASEURL)</string>
	<key>LinkedinCredential_clientID</key>
	<string>$(LinkedinCredential_clientID)</string>
	<key>LinkedinCredential_clientSecret</key>
	<string>$(LinkedinCredential_clientSecret)</string>
	<key>LinkedinCredential_redirectURL</key>
	<string>$(LinkedinCredential_redirectURL)</string>
	<key>LinkedinCredential_state</key>
	<string>$(LinkedinCredential_state)</string>
	<key>MarketPlace_BaseURL</key>
	<string>$(MarketPlace_BaseURL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PEOPLEBASEURL</key>
	<string>$(PEOPLEBASEURL)</string>
	<key>PROFILEBASEURL</key>
	<string>$(PROFILEBASEURL)</string>
	<key>Payment_clientId</key>
	<string>$(Payment_clientId)</string>
	<key>QklyMiscURLs_baseUrl</key>
	<string>$(QklyMiscURLs_baseUrl)</string>
	<key>QklyMiscURLs_jobbardId</key>
	<string>$(QklyMiscURLs_jobbardId)</string>
	<key>QklyMiscURLs_privacyPolicy</key>
	<string>$(QklyMiscURLs_privacyPolicy)</string>
	<key>QklyMiscURLs_termsAndConditions</key>
	<string>$(QklyMiscURLs_termsAndConditions)</string>
	<key>Server_Url</key>
	<string>$(Server_Url)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Thin.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
